<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Item</title>
  </head>
  <body>
    <h1>This page will be for adding new items</h1>
    <form action="#" method="post">
      <input type="text" name="name" placeholder="Component name">
      <input type="number" name="price" placeholder="Price">

      <div class="categories">
        <input type="radio" name="component" value="Motherboard">Motherboard
        <input type="radio" name="component" value="Memory">Memory
        <input type="radio" name="component" value="Graphic Card">Graphic Card
        <input type="radio" name="component" value="Power Supply">Power Supply
        <input type="radio" name="component" value="Hard Drive">Hard Drive
        <input type="radio" name="component" value="Processor">Processor
      </div>

      <textarea name="description" rows="2" cols="20"></textarea>
      <button type="submit" name="button">Add new item</button>

    </form>
    <a href="{{url_for('showComponents')}}">Cancel</a>
  </body>
</html>
